.cardCon {
  width: 80dvw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.card {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.button {
  margin-top: 50px;
  margin-left: 50px;
  width: 200px;
  height: 50px;
  background: none;
  border: none;
  text-align: start;
  color: white;
}
span {
  display: flex;
}
h3 {
  font-size: 38px;
  margin-bottom: 50px;
}
img {
  border-radius: 10px;
  width: 700px;
  aspect-ratio: 41/25;
}
.infos {
  color: white;
  font-size: 20px;
  display: flex;
  flex-direction: column;
}
.infoTop {
  display: flex;
}
.info2 {
  margin-left: 30px;
  margin-top: 20px;
  align-self: center;
}
.border-countries {
  padding-top: 50px;
  display: flex;
  align-items: center;
}
.border-countries-buttons {
  display: flex;
}
.borderButton {
  margin: 5px;
  padding: 5px;
  background-color: var(--Very-Dark-Blue);
  border-radius: 10px;
  cursor: pointer;
}
.noDataCon {
  font-size: 50px;
}
.noDataCon p {
  text-align: center;
}
