* {
    box-sizing: border-box;
    font-family: ’Lato’, sans-serif;
    margin: 0; 
    padding: 0;
    font-size: 1.9vmin;
}
body {

    background-color: white;

  
}
.logo {
    align-self: center;
    margin-left: 15px;
    width: 30vmin;
}

.nav{
    
    left: 1px;
    
    top: 0px;
    width: 25vmin;
    height: 4vmin;
    position: absolute;
    

}

.NavText {
    top: 3px;
    font-family: var(--font-family);
    font-size: 2.5vmin;
    text-decoration: none;
    color: black;
    position: absolute;
}
.NavText:hover{
    
    font-weight: bolder;
}
#HaText {
    
}
#AkText {
    left: 13vmin;
}
.NavText:hover{
    
    font-weight: bolder;
}


footer ul {
    list-style: none;
    padding-left: 0;
}
footer {
    background-color: #555;
    color: #bbb;
    line-height: 1.5;
}
footer a {
    text-decoration: none;
    color: #eee;
}
footer a:hover {
    text-decoration: underline;
}
.ft{
    justify-self: end;
}
.ft-title {
    color: #fff;
    font-family: ’Merriweather’, serif;
    font-size: 1.375rem;
    padding-bottom: 0.62rem;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: var(--font-family);
    height: 100%;
}
.container {
    flex: 1;    
}
.ft-main {
    padding: 0.4rem 1.87rem;
    display: flex;
    flex-wrap: wrap;
}
.ft-main-item {
    padding: 0.1rem;
    min-width: 12.5rem ;
}
@media only screen and (min-width: 477px) {
    .ft-main {
        justify-content: space-around;
    }
}
@media only screen and (min-width: 1240px ) {
    .ft-main {
        justify-content: space-evenly;
    }
}
form {
    display: flex;
    flex-wrap: wrap;
}
input[type="email"] {
    border: 0;
    padding: 0.62rem;
    margin-top: 0.31rem;
}
input[type="submit"] {
    background-color: #1166e6;
    color: #fff;
    cursor: pointer;
    border: 0;
    padding: 0.62rem 0.93rem;
    margin-top: 0.31rem;
}
.ft-social {
    padding: 0rem ;
}
.ft-social-list {
    display: flex;
    justify-content: center;
    border-top: 1px #777 solid; 
    padding-top: 0.2rem;
}
.ft-social-list li {
    margin: 0.5rem;
    font-size: 1.25rem;
}
.ft-legal {
    padding: 0.93rem 1.87rem;
    background-color: #333;
}
.ft-legal-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.ft-legal-list li {
    margin: 0.12rem 0.62rem;
    white-space: nowrap;
}

.ft-legal-list li:nth-last-child(2) {
    flex: 1;     
}