* {
    box-sizing: border-box;
    font-family: ’Lato’, sans-serif;
    margin: 0; 
    padding: 0;

}

nav{
    background-color: rgb(202, 202, 202);

    
}
.nv{
    display: flex;


    height: 8vh;
    margin-bottom: 2vh;
    
}

.nv-leiste{

    display: flex;
    align-content: center;

    
    
}
.nv-haupt{
    padding-right: 1rem;
    font-size: 2.9vmin;
    font-family: var(--font-family);
    z-index: 1;
}
.nv-aktuell{
    font-family: var(--font-family);
    font-size: 2.9vmin;
    z-index: 1;
}



.nv-text{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
}

.nv-logo{
    position: absolute;
    width: 100%;
    margin: 0 auto;
    height: 10vmin;
    margin-top: 0.5vh;
    padding-left: 30vh;
    padding-right: 30vh;
    z-index: 0;

}
.logo{
    position: relative;

    height: 7vh;
}



footer ul {
    list-style: none;
    padding-left: 0;
}
footer {
    background-color: #555;
    color: #bbb;
    line-height: 1.5;
}
footer a {
    text-decoration: none;
    color: #eee;
}

a:link {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    text-decoration-color: black;
}
.ft{
    position: relative;
    justify-self: flex-end;
    align-self: flex-end;
    bottom: 0px;

}
.ft-title {
    color: #fff;
    font-family: ’Merriweather’, serif;
    font-size: 1.375rem;
    padding-bottom: 0.62rem;
}

.container {
    flex: 1;    
}
.ft-main {
    padding: 0.4rem 1.87rem;
    display: flex;
    flex-wrap: wrap;
}
.ft-main-item {
    padding: 0.1rem;
    min-width: 12.5rem ;
}
@media only screen and (min-width: 477px) {
    .ft-main {
        justify-content: space-around;
    }
}
@media only screen and (min-width: 1240px ) {
    .ft-main {
        justify-content: space-evenly;
    }
}
form {
    display: flex;
    flex-wrap: wrap;
}
input[type="email"] {
    border: 0;
    padding: 0.62rem;
    margin-top: 0.31rem;
}
input[type="submit"] {
    background-color: #1166e6;
    color: #fff;
    cursor: pointer;
    border: 0;
    padding: 0.62rem 0.93rem;
    margin-top: 0.31rem;
}
.ft-social {
    padding: 0rem ;
}
.ft-social-list {
    display: flex;
    justify-content: center;
    border-top: 1px #777 solid; 
    padding-top: 0.2rem;
}
.ft-social-list li {
    margin: 0.5rem;
    font-size: 2.34vmin;
}
.ft-legal {
    padding: 0.93rem 1.87rem;
    background-color: #333;
}
.ft-legal-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.ft-legal-list li {
    margin: 0.12rem 0.62rem;
    white-space: nowrap;
}
/* one before the last child */
.ft-legal-list li:nth-last-child(2) {
    flex: 1;       /* same as flex-grow: 1; */
}