h2 {
  text-align: center;
}
.mainBody {
  display: flex;
  height: fit-content;
  width: 100%;
  overflow: auto !important;
}
.section {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
}
.taskCard {
  width: 240px;
  min-height: 70px;
  margin-bottom: 30px;
  border-radius: 10px;
  padding: 20px;
  font-size: 20px;
  background-color: var(--side-nav-backcolor);
  cursor: pointer;
}
.newColum {
  display: flex;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.096);
  width: 20%;
  height: 93%;
  border-radius: 10px;
  margin: 20px;
  justify-content: center;
}
.newSection {
  align-self: center;
  cursor: pointer;
  color: rgb(160, 159, 159);
}
.subtaskCounter {
  font-size: 14px;
}
