body {
 

    background-color: rgb(216, 212, 212);
    background-image: url('back.svg');
  
}
.logo {
    align-self: center;
}
.topnav {
    position: absolute;
    top: 0px;
    font-size: 22px;
}
.fotnav {
    position: absolute;
    bottom: 0px;
    font-size: x-large;

    
}
.header {
    font-size: 60px;
}
.text {
    font-size: 30px;
}