body {


    font-family: var(--font-family);
  
}

.fotnav{
    position: absolute;
}

.impdiv{
    margin: 0 auto;
    width: 45vmin;
    text-align: center;
    font-size: 2vmin;
    margin-bottom: 10.6rem;
}
@media screen and (max-height: 800px)  {
    p{
        font-size: 15px;
    }

}
      h2{
        font-size: 24px;
    }

@media screen and (max-width: 800px)  {
    p{
        font-size: 15px;
    }


      h2{
        font-size: 24px;
    }
}
