body {

    background-color: rgb(255, 255, 255);

    
}

.wrapper{
    
    width: 100%;
    
    display: flex;
    justify-content: center;
}
.wrapper-box{
    background-color: var(--color-light);
    width: 50%;
    min-width: 500px;

    
}
h1{
    font-size: 5vmin;
}
.head2{
    font-size: 4vmin;
}
.container-ueber{
    display: grid;
  
}
.ueber{
    align-self: center;
    justify-self: center;
    font-size: 2.2vmin;
}
.stand{
 text-align: end;
}
.stand-text{
  font-size: 1.9vmin;
}
.video{
    width: 40vw;
    height: 50vh;
}
.unter-video{
    margin-top: 30px;
}
.text{
    font-size: 2vmin;
    text-align: justify;
    font-family: var(--font-family);
    padding: 40px;

}
.text::first-letter{
   float: left;
   font-size: 8vmin;
   font-family: var(--font-family);
   
}
.firstLet{
    font-weight: 600;
}
.news{
    width: 40%;
}
.container-artikel{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}
.artikel-header-list{
    display: flex;
    flex-direction: row;
   
}
.artikel-header-container{
    flex: 50%;
}
.artikel-header{
    font-size: 3vmin;
}
.artikel-link-list{
    display: flex;
    flex: 100%;
}
.artikel-link{
    flex: 50%;
    height: 30vmin;
    margin: 10px;
    background-color: black;
}


@media screen and (max-height: 800px)  {
    .text{
        font-size: 15px;
    }
    .text::first-letter{
      
        font-size: 30px;
        
    }
    .stand-text{
        font-size: 12px;
      }
    .artikel-header{
        font-size: 24px;
    }
}
@media screen and (max-width: 800px)  {
    .text{
        font-size: 15px;
    }
    .text::first-letter{
        
        font-size: 30px;
        
    }
    .stand-text{
        font-size: 12px;
    }
    .artikel-header{
        font-size: 24px;
    }
}
