

.center {
    align-self: center;
    width: 440px;
    font-size: 30px;
    margin: 0 auto;
    margin-bottom: 14rem;
    
    
    
}
.anm{
    font-size: 2rem;
}
.reg{
    width: 440px;
    height: 40px;
    font-size: 30px;
    
}
select {
    width: 120px;
    height: 30px;
 
}