
.impdiv{
    margin: 0 auto;
    width: 45vmin;
    text-align: center;
    font-size: 2vmin;
    margin-bottom: 10.6rem;
}
@media screen and (max-height: 500px)  {
    p{
        font-size: 15px;
    }

}
      h2{
        font-size: 20px;
    }

@media screen and (max-width: 800px)  {
    p{
        font-size: 15px;
    }


      h2{
        font-size: 20px;
    }
}
