:root {
    --color-primary: #3a00ff;
    --color-primary-alt: #6f6ffd;
    --color-secondary: #d42257;
    --color-background: #d2fbf7;
    --color-text: #412d86;
    --color-light: #fff;
    --color-anchor: #3a00ff;
    --font-family: "Baloo 2", sans-serif;
    
  }
  * {
    box-sizing: border-box;
    font-family: ’Lato’, sans-serif;
    margin: 0; 
    padding: 0;



}

nav{
    background-color: rgb(202, 202, 202);

    
}
@media screen and (max-width: 680px)  {
    .nv-leiste{
       width: 100%;
    }
    .nv-haupt{

        flex: 100;
    }
    .nv-aktuell{
        flex: 100;
        

        justify-self: flex-end;
        text-align: end;



    }


}

.nv{
    display: flex;
    font-size: 1vmin;

    height: 6rem;
    min-height: 50px;
    margin-bottom: 1rem;
    
}

.nv-leiste{

    display: flex;
    align-content: center;
    

    
    
}
.nv-haupt{
    padding-right: 1rem;
    font-size: 2.7em;
    font-family: var(--font-family);
    z-index: 1;

}
.nv-aktuell{
    font-family: var(--font-family);
    font-size: 2.7em;
    z-index: 1;

}



.nv-text{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
}

.nv-logo{
    position: absolute;
    width: 100%;
    margin: 0 auto;
    height: 2rem;
   

    z-index: 0;

}
.logo{
    position: relative;
    margin-top: 0.5rem;
    height: 5rem;
}



footer ul {
    list-style: none;
    padding-left: 0;
}
footer {
    background-color: #555;
    color: #bbb;
    line-height: 1.5;

}
footer a {
    text-decoration: none;
    color: #eee;
}

a:link {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    text-decoration-color: black;
}
.ft{
    position: relative;
    justify-self: flex-end;
    align-self: flex-end;
    bottom: 0px;

}
.ft-title {
    color: #fff;
    font-family: ’Merriweather’, serif;
    font-size: 1.375rem;
    padding-bottom: 0.62rem;
}

.container {
    flex: 1;    
}
.ft-main {
    padding: 0.4rem 1.87rem;
    display: flex;
    flex-wrap: wrap;
}
.ft-main-item {
    padding: 0.1rem;
    min-width: 12.5rem ;
}
@media only screen and (min-width: 477px) {
    .ft-main {
        justify-content: space-around;
    }
}
@media only screen and (min-width: 1240px ) {
    .ft-main {
        justify-content: space-evenly;
    }
}
footer form {
    display: flex;
    flex-wrap: wrap;
}
footer input[type="email"] {
    border: 0;
    padding: 0.62rem;
    margin-top: 0.31rem;
}
footer input[type="submit"] {
    background-color: #1166e6;
    color: #fff;
    cursor: pointer;
    border: 0;
    padding: 0.62rem 0.93rem;
    margin-top: 0.31rem;
}
.ft-social {
    padding: 0rem ;
}
.ft-social-list {
    display: flex;
    justify-content: center;
    border-top: 1px #777 solid; 
    padding-top: 0.2rem;
}
.ft-social-list li {
    margin: 0.5rem;
    font-size: 2.34vmin;
}
.ft-legal {
    padding: 0.93rem 1.87rem;
    background-color: #333;
}
.ft-legal-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.ft-legal-list li {
    margin: 0.12rem 0.62rem;
    white-space: nowrap;
}

.ft-legal-list li:nth-last-child(2) {
    flex: 1;       
}

@media screen and (max-height: 800px)  {
    .nv-haupt{

        font-size: 20px;
    }
    .nv-aktuell{
        font-size: 20px;

    }

}
@media screen and (max-width: 800px)  {
    .nv-haupt{

        font-size: 20px;
    }
    .nv-aktuell{
        font-size: 20px;

    }


}
@media screen and (max-width: 800px)  {

    .logo{
        margin-top: 0.75rem;
        height: 4.5rem;
    }

    
}
@media screen and (max-width: 600px)  {

    .logo{
        margin-top: 1rem;
        height: 4rem;
    }
    .nv-haupt{
        font-size: 20px;
    
    }
    .nv-aktuell{
        font-size: 20px;
    
    }
    
    
}
