body {

    background-color: rgb(216, 212, 212);
    background-image: url('back.svg');
  
}


.center {
    align-self: center;
    width: 440px;
    font-size: 30px;
    margin: 0 auto;
    
    
    
}
.reg{
    width: 440px;
    height: 40px;
    font-size: 30px;
    
}
select {
    width: 120px;
    height: 30px;
 
}