body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.ft{
    margin-top: auto;
    width: 100%;
}

.login {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 7rem;
    width: 13%;
    font-size: 1.7rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color:  rgb(202, 202, 202);
    border: 2px;
    padding: 2px;
    border-color: rgb(156, 156, 156);
    border-style: solid;
}
.login:hover {
    background-color: rgb(180, 180, 180);
    
}
.logo{
    margin-top: 1rem;
}

@media screen and (max-width: 680px)  {
    .nv-leiste{

       flex-direction: column;
    }
    .nv-haupt{

        flex: 100;
    }
    .nv-aktuell{
        flex: 100;
        justify-self: flex-start;
        text-align: start;



    }
    .ft-social-list li{
        font-size: 20px;
    }


}

.wrapper-über{
    
    display: flex;
    
    width: 100%;
   
    justify-content: center;
}
.wrapper{
    background-color: white;
    display: flex;
    width: 40%;
    max-width: 90ch;
    min-width: 45ch;
    margin-bottom: 1.5rem;
    

    
}
.über{
    font-size: 2rem;
}
.artikel{
    
    text-align: center;
    border: 1px;
    border-color: black;
    border-style: solid;
    justify-self: center;
    
}
.header{
    font-size: 1.5rem;
    text-align: center;
    
}
.artikel{
    font-family: var(--font-family);
    padding: 30px;
    margin: 15px;
}
.text{
    color: black;
    text-decoration: none;
    font-family: var(--font-family);
}
.artikel:hover{
   background-color: rgba(0, 0, 0, 0.233);
}
@media screen and (max-height: 800px)  {
    .text{
        font-size: 15px;
    }

}
      .header{
        font-size: 24px;
    }


@media screen and (max-width: 1200px)  {
    .login{
        font-size: 1.1rem;
    }
}



@media screen and (max-width: 800px)  {
    .text{
        font-size: 15px;
    }


      .header{
        font-size: 24px;
    }
    .login{
        font-size: 0.8rem;
    }
    .logo{
        margin-top: 1.5rem;
        height: 4rem;
    }

    
}
@media screen and (max-width: 600px)  {

    .login{
        font-size: 0.8rem;
        width: 20%;
    }
    .logo{
        margin-top: 2rem;
        height: 3rem;
    }
    .nv-haupt{
        font-size: 20px;
    
    }
    .nv-aktuell{
        font-size: 20px;
    
    }
    
    
}

