body {

    background-color: rgb(216, 212, 212);
    background-image: url('back.svg');
  
}

.fotnav{
    position: absolute;
}

.impdiv{
    margin: 0 auto;
    width: 45vmin;
    height: 80vmin;
    text-align: center;
    font-size: 2vmin;
}