body {
 

    background-color: rgb(216, 212, 212);
    background-image: url('back.svg');
  
}
.logo {
    align-self: center;
}
.topnav {
    position: absolute;
    top: 0px;
    font-size: 22px;
}
.fotnav {
    position: relative;
    bottom: 0px;
    font-size: x-large;

    
}
.header {
    font-size: 60px;
}
.text {
    font-size: 30px;
}
.form {
    
    align-self: center;
    width: 400px;
    font-size: 30px;
    margin: 0 auto;
}
.sub {
    width: 320px;
    height: 40px;
    font-size: 20px;
}