body {

    background-color: rgb(255, 255, 255);

    
}

.wrapper{
    
    width: 100%;
    
    display: flex;
    justify-content: center;
}
.container{
    background-color: var(--color-light);
    width: 50%;
    min-width: 410px;
    max-width: 100ch;

    
}
h1{
    font-size: 3.8rem;
}
.head2{
    font-size: 2.8rem;
}
.container-ueber{
    display: grid;
  
}
.ueber{
    align-self: center;
    justify-self: center;
    font-size: 2.2vmin;
}
.stand{
 text-align: end;
}
.stand-text{
  font-size: 1rem;
}
.video{
    width: 40vw;
    height: 50vh;
    min-width: 300px;
}
.unter-video{
    margin-top: 30px;
}
.text{
    font-size: 1.3rem;
    text-align: justify;
    font-family: var(--font-family);
    padding: 20px;

}
.text::first-letter{
   float: left;
   font-size: 5rem;
   font-family: var(--font-family);
   
}
.firstLet{
    font-weight: 600;
}
.news{
    width: 80%;
    height: 300px;
}
.container-artikel{
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    width: 100%;
    height: 20rem;
}
.artikeln{
    flex: 50;
    display: flex;
    flex-direction: column;
   
}
.artikel-header{
    font-size: 3vmin;
}

.artikel-link{
    flex: 50%;
    height: 30%;
    margin: 10px;
    background-color: black;
}



@media screen and (max-width: 800px)  {
    h1{
        font-size: 60px;
    }
    .text{
        font-size: 19px;
    }
    .text::first-letter{
        
        font-size: 50px;
        
    }
    .stand-text{
        font-size: 18px;
    }
    .artikel-header{
        font-size: 24px;
    }
    .container-artikel{
        flex-direction: column;
    }
    .artikel-link{
        width: 70%;
        margin: 0 auto;
    }
    h1{
        font-size: 3rem;
    }

}

