.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.card {
  color: white;
  width: 22%;
  margin: 20px;
  display: flex;
  flex-direction: column;
  background-color: var(--Very-Dark-Blue);
}
img {
  height: 200px;
  width: 100%;
  aspect-ratio: 41/20;
}
p {
  margin-bottom: 15px;
}
.text {
  margin: 30px;
}
