@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;0,800;1,300&display=swap");
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  overflow-x: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

footer {
  display: flex;
  margin-top: auto;
}

:root {
  color: rgba(228, 241, 254, 0.937254902);
  font-family: "Open sans";
  font-size: 1rem;
}

body {
  background: radial-gradient(circle at right 60%, #1f2833, transparent 150%), radial-gradient(circle at left 60%, #304253, transparent 150%);
}

.wrapper {
  align-items: center;
}

nav {
  display: flex;
  width: 100%;
  height: 220px;
  align-items: center;
  justify-content: center;
  background-color: rgba(52, 73, 94, 0.1921568627);
}
nav img {
  height: 200px;
  position: absolute;
}
nav .navMenu {
  margin-right: auto;
  width: 100%;
  display: flex;
  text-decoration: none;
  list-style: none;
}
nav .navMenu li {
  margin-right: 30px;
  text-transform: uppercase;
  font-size: 18px;
}
@media (max-width: 1680px) {
  nav li:nth-last-child(1) {
    margin-left: auto;
  }
}
@media (max-width: 1350px) {
  nav li:nth-last-child(1) {
    margin-left: 0;
  }
  nav li:nth-last-child(2) {
    margin-left: auto;
  }
}

.content {
  width: 60%;
  max-width: 1400px;
  display: flex;
}
.content .right,
.content .left {
  flex-direction: column;
}
.content .cLeft {
  min-width: 690px;
  background-color: rgba(52, 73, 94, 0.1921568627);
  width: 70%;
  display: flex;
  flex-direction: column;
}
.content .cLeft .article {
  border-bottom: 1px rgba(228, 241, 254, 0.1647058824) solid;
  align-items: center;
  display: flex;
}
.content .cLeft .article .img {
  padding: 10px;
  height: -moz-fit-content;
  height: fit-content;
}
.content .cLeft .article .news {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.content .cLeft .article .news h2 {
  text-align: center;
}
.content .cLeft .dArticle {
  margin-top: 10px;
  display: flex;
  padding-bottom: 10px;
  border-bottom: 1px rgba(228, 241, 254, 0.1647058824) solid;
}
.content .cLeft .dArticle h3 {
  -webkit-margin-before: 0px;
          margin-block-start: 0px;
}
.content .cLeft .dArticle .left {
  flex-direction: row;
  display: flex;
  width: 70%;
  font-size: 14px;
  border-right: 1px rgba(228, 241, 254, 0.1647058824) solid;
}
.content .cLeft .dArticle .left img {
  padding: 10px;
  width: 200px;
}
.content .cLeft .dArticle .right {
  background-color: rgba(52, 73, 94, 0.1921568627);
  display: flex;
  width: 30%;
}
.content .cLeft .dArticle .right img {
  width: 90%;
  margin: auto;
}
.content .cLeft .dArticle2 {
  margin-top: 10px;
  display: flex;
  padding-bottom: 10px;
  border-bottom: 1px rgba(228, 241, 254, 0.1647058824) solid;
}
.content .cLeft .dArticle2 h3 {
  -webkit-margin-before: 0px;
          margin-block-start: 0px;
}
.content .cLeft .dArticle2 .left {
  display: flex;
  width: 30%;
  border-right: 1px rgba(228, 241, 254, 0.1647058824) solid;
}
.content .cLeft .dArticle2 .left img {
  width: 90%;
  padding: 10px;
}
.content .cLeft .dArticle2 .right {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  background-color: rgba(52, 73, 94, 0.1921568627);
  flex-direction: row;
  display: flex;
  width: 70%;
  font-size: 14px;
}
.content .cLeft .dArticle2 .right img {
  padding: 10px;
  width: 200px;
}
.content .cLeft .articleText {
  border-bottom: 1px rgba(228, 241, 254, 0.1647058824) solid;
}
.content .cRight {
  min-width: 295px;
  width: 30%;
  display: flex;
  flex-direction: column;
  background-color: rgba(48, 66, 83, 0.2745098039);
  align-items: center;
  justify-content: center;
}
.content .cRight .weather {
  width: 260px;
  height: -moz-fit-content;
  height: fit-content;
}/*# sourceMappingURL=style.css.map */