body {
 

    background-color: rgb(216, 212, 212);
    background-image: url('back.svg');
  
}
.logo {
    align-self: center;
}
.topnav {
    position: absolute;
    top: 0px;
    font-size: 22px;
}
.fotnav {
    position: absolute;
    bottom: 0px;
    font-size: x-large;

    
}

.sec{
    
}
.impdiv{
    margin: 0 auto;
    width: 800px;
}