.eins {
    display: inline; /* Standard-Wert für span-Elemente */
    width: 100px;
    height: 100px;
    padding: 5px;
    border: 1px solid red;
    background-color: pink;
}
.zwei {
    display: inline-block;
    width: 100px;
    height: 100px;
    padding: 5px;
    border: 1px solid red;
    background-color: pink;
}
  
.drei {
    display: block;
    width: 100px;
    height: 100px;
    padding: 5px;
    border: 1px solid red;
    background-color: pink;
}