.card {
  display: flex;
  flex-direction: column;
  height: 400px;
  background-color: var(--Very-Dark-Blue2);
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
  cursor: pointer;
}
img {
  width: 22dvw;
}
