.custom-dialog-container {
  position: absolute;
  z-index: 4 !important;
}
.statusContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.statusCard {
  width: 25%;
  height: 30px;
  cursor: pointer;
  text-align: center;
  background-color: var(--side-nav-backcolor);
}
.active {
  background-color: rgb(49, 49, 49);
}
textarea {
  font-size: 20px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  resize: none;
}
